body {
    background-color: lightcyan;
}

.page-wrap {
    display: grid;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    /* background-color: honeydew; */
    /* justify-content: center;
    align-items: center; */
}
table {
    /* display: flex; */
    table-layout: relative;
    /* justify-self: center; */
    width: 500px;
    border: 1px solid black;
    background-color: grey;
    width: 90%;

}

.game {
    display: flex;
    justify-content: center;
    align-items: center;
}

tr, td {
    width: 5px;
    height: 5px;
    border: 1.5px solid black;
}

.setting {
    grid-column: 1 / 2;
    display: flexbox;
    align-self: center;
    justify-self: center;
}

/* #border {
    border: 2px solid blue;
} */
