body {
    background-color: black
}

.page-wrap {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    background-color: honeydew;
    /* justify-content: center;
    align-items: center; */
}
table {
    table-layout: fixed;
    width: 500px;
    border: 1px solid black;
    background-color: grey;
}

tr, td {
    width: 5px;
    height: 5px;
    border: 1.5px solid black;
}

.setting {
    grid-column: 1 / 2;
    display: flexbox;
    align-self: center;
    justify-self: center;
}

#border {
    border: 2px solid blue;
}
